.signIn {
  width: 384px;
  height: 374px;
  background-color: white;
  margin: 60px auto 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.sign {
  font-size: 20px;
  font-weight: 600;
  margin-top: 45px;
  margin-bottom: 15px;
}

.input {
  width: 320px;
  height: 40px;
  border-radius: 5px;
}

.error {
  color: red;
}

.text {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.button {
  width: 318px;
  height: 40px;
  border-radius: 5px;
  margin-top: 15px;
}

.acc {
  font-size: 12px;
  margin-top: 5px;
  color: darkgrey;
}