.create {
  width: 938px;
  height: 700px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 32px auto;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

input {
  width: 300px;
  height: 40px;
}

.title {
  font-size: 20px;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 22px;
}

.req {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

label {
  color: #262626;
}

.titleInput {
  width: 874px;
  height: 40px;
  border-radius: 5px;
}

.inputText {
  width: 874px;
  height: 168px;
  border-radius: 5px;
}

.tags {
  display: flex;
  flex-direction: column;
  align-self: start;
  margin-left: 32px;
  align-items: center;
}

p {
  align-self: start;
  margin: 0;
}

.tagsFirst {
  display: flex;
  flex-direction: column;
  margin-right: 15px;
}

.tagInput {
  width: 300px;
  height: 40px;
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 5px;
}

.deleteButtons {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.buttonDelete {
  width: 120px;
  height: 40px;
  border-radius: 5px;
}

.add {
  width: 135px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #1890FF;
  color: #1890FF;
  position: absolute;
  top: 618px;
  right: 350px;
}

.send {
  width: 320px;
  height: 40px;
  border-radius: 5px;
  align-self: start;
  margin-left: 32px;
  margin-top: 20px;
}

.oneTag {
  display: flex;
}