.header {
  width: 100%;
  height: 80px;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 22px;
  padding-top: 5px;
}

.signIn {
  margin-right: 20px;
  color: black;
}

Link .create {
  text-decoration: none;
}

.signUp {
  color: #52C41A;
  width: 109px;
  height: 51px;
  padding: 6px 20px 6px 20px;
  border: 1px solid #52C41A;
  border-radius: 5px;
  margin-right: 22px;
}

.logUser {
  display: flex;
  color: black;
  align-items: center;
}

.create {
  color: #52C41A;
  height: 40px;
  padding: 6px 10px 6px 10px;
  border: 1px solid #52C41A;
  border-radius: 5px;
  margin-right: 37px;
}

.profile {
  display: flex;
  align-items: center;
}

.avatar {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  margin-left: 13px;
  margin-right: 27px;
}

.logOut {
  color: black;
  height: 51px;
  padding: 10px 18px 2px 18px;
  border: 1px solid black;
  border-radius: 5px;
  margin-right: 22px;
}