.header {
  width: 100%;
  height: 80px;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 22px;
  padding-top: 5px;
}

.signIn {
  margin-right: 20px;
  color: black;
}

.signUp {
  color: #52C41A;
  width: 109px;
  height: 51px;
  padding: 6px 20px 6px 20px;
  border: 1px solid #52C41A;
  border-radius: 5px;
  margin-right: 22px;
}